.contact-section {
}

.contact-image {
  width: 100%;
  object-fit: cover;
}

.contact-article {
  display: flex;
  flex-direction: column;
}

.contact-heading__wrapper {
  text-align: center;
  padding: 1rem;
}

.contact-heading {
  font-family: var(--h1);
  color: var(--white);
  font-size: 36px;
}

.contact-heading--orange {
  font-family: var(--h1);
  color: var(--orange);
  font-size: 36px;
}

.contact-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
  flex-wrap: wrap;
}

.contact-info-text {
  font-family: var(--p);
  color: var(--white);
  font-size: 20px;
}

.contact-wrapper__box {
  display: flex;
  flex-direction: column;
  margin: 0 2rem;
}

.contact-info-heading {
  font-family: var(--p);
  color: var(--white);
  font-size: 28px;
}

@media screen and (max-width: 600px) {
  .contact-wrapper {
    justify-content: unset;
    margin-bottom: 7rem;
  }

  .contact-wrapper__box {
    margin-bottom: 1rem;
  }
}

/* Författare: Adréan */
