.nav {
  display: flex;
  width: 500px;
}

.nav__ul {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav__li {
  list-style-type: none;
}

.nav__link {
  text-decoration: none;
  color: var(--white);
  font-family: var(--p);
  font-size: 2rem;
}
