.staff__page {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: var(--dark);
    font-family: var(--p);
    color: var(--white);
    min-height: 80vh;
    margin-bottom: 4rem;
}

.orders__section,
.preparation__section,
.done__section {
    background: #333;
    padding: 15px;
    border-radius: 8px;
    min-height: 80vh;
}

p {
    margin-bottom: 15px;
}

.orders__section--orders,
.orders__section--preparing,
.orders__section--done {
    overflow-y: auto;
    height: 80vh;
}

@media screen and (max-width: 900px) {
    .staff__page {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 580px) {
    .staff__page {
        grid-template-columns: repeat(1, 1fr);
    }
    Footer {
        position: unset;
    }
}

/* Författare: Sandra 
    Modifierare: Anton
*/