.increment-section {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin-top: auto;
}

.menuItem-addToCart--btn {
  display: flex;
  align-items: center;
  margin-top: auto;
  margin-bottom: 0;
}

.cart-btn {
  background-color: transparent;
  border: none;
  min-width: 3rem;
  color: var(--orange);
  font-size: 30px;
  cursor: pointer;
}

.display-value {
  display: flex;
  place-content: center;
  color: var(--white);
  font-family: var(--p);
  font-size: 40px;
  min-width: 4rem;
}

.menuItem-addTocart {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  color: var(--white);
  padding: 0.5rem 2rem;
  font-family: var(--p);
  background-color: transparent;
  border: 1px solid var(--orange);
  max-width: max-content;
  align-self: end;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.menuItem-addTocart:hover {
  background-color: var(--orange);
  color: var(--dark);
  font-family: var(--p);
}

/* Författare: Anton */
