.hero-section {
  /* position: relative; */
  height: 100vh;
  /* background-position: center; */
  /* background-size: contain;
  background-repeat: no-repeat;
  background-image: url(../../assets/breakfastBg.svg); */
}

.hero__background-image {
  /* height: 100vh; */
  /* width: 100%; */
}

.hero__figcaption {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  top: 400px;
  right: 200px;
  width: 470px;
  height: 400px;
}

.hero__heading {
  color: var(--orange);
  font-family: var(--h1);
  font-size: var(--h1size);
}

.hero__heading--white {
  color: var(--white);
  font-family: var(--h1);
  font-size: var(--h1size);
}

.hero_slogan {
  font-size: 2rem;
  color: var(--white);
  font-family: var(--h1);
}

.hero-button {
  font-size: 2rem;
  border-radius: 10px;
  color: var(--white);
  padding: 0.8rem 2rem;
  font-family: Afacad, sans-serif;
  border: 1px solid var(--orange);
  background-color: transparent;
  cursor: pointer;
}

.hero-button:hover {
  background-color: var(--orange);
  color: var(--dark);
}
