
.order-card {
    background: var(--dark);
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
}

.order-card p {
    margin: 5px 0;
}

.order-card ul {
    margin: 5px 0;
    padding-left: 20px;
}

.status-buttons {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.status-buttons label {
    margin-right: 10px;
    cursor: pointer;
}

.staff__order-status {
    color: var(--orange);
}

.radio-btn {
    appearance: none;
    background-color: white;
    height: 15px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin-right: 10px;
}

.radio-btn:checked {
    background-color: var(--orange);
}

/* Författare: Anton */