.header {
  width: 100%;
  padding: 0 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dark);
  position: sticky;
  top: 0;
}

.header__link {
  margin-right: -5rem;
}

.header__cart-btn--wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.header__btn {
  cursor: pointer;
  font-size: 1rem;
  border-radius: 10px;
  color: var(--white);
  padding: 0.5rem 2rem;
  font-family: var(--p);
  background-color: var(--dark);
  border: 1px solid var(--orange);
}

.header__btn:hover {
  box-shadow: 0px 0px 10px orange;
}

.header__cart--wrapper {
  position: relative; 
  display: inline-block;
  gap: .5rem; 
  cursor: pointer;
}

.header__cart {
  width: 35px; 
  height: 35px; 
}

.header__cart-items {
  position: absolute; 
  top: 55%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  font-size: 16px; 
  font-weight: bold;
  color: var(--white);
  font-family: var(--p);
}

.hamburger {
  width: 35px;
  height: 35px;
  display: flex;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-around;
}

.hamburger-line {
  border-bottom: 2px solid var(--orange);
}

@media screen and (max-width: 3000px) {
  .hamburger {
    display: none;
  }
  .hamburger-line {
    display: none;
  }
}

@media screen and (max-width: 870px) {
  .header__link {
    margin-right: -2rem;
  }
}

@media screen and (max-width: 790px) {
  .header__logo {
    width: 80%;
  }

  .header__btn {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.25rem 1rem;
  }

  .header__cart {
    cursor: pointer;
  }

  /* .header__cart-items {
    top: 65px;
    right: 28px;
    font-size: 14px; 
  } */
}

@media screen and (max-width: 700px) {
  .header__link {
    margin-right: -4rem;
  }
}

@media screen and (max-width: 665px) {
  .header {
    flex-wrap: nowrap;
  }

  .header__link {
    margin-right: 0;
  }
}

@media screen and (max-width: 580px) {
  .header__cart-btn--wrapper {
    margin-right: .5rem;
    margin-left: .5rem;
    gap: .5rem;
  }

  .hamburger-line {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  .header__logo {
    width: 100%;
  }
}

.hide {
  display: none;
}

/* Författare: Adréan */
