article {
  background-color: #80808021;
  display: flex;
  flex-direction: column;
}

.menuItem-image {
  width: 100%;
}

.menuItem-heading {
  font-size: 30px;
  padding: 0.5rem;
  text-align: center;
  color: var(--orange);
  font-family: var(--h1);
}

.menuItem-price {
  padding: .5rem;
  color: var(--white);
  font-size: 24px;
  font-family: var(--p);
}

.menuItem-description {
  padding: 0.5rem;
  font-size: 20px;
  color: var(--white);
  font-family: var(--p);
}

@media screen and (max-width: 400px) {
  .menuItem-heading {
    font-size: 25px;
  }

  .menuItem-description {
    font-size: 18px;
  }
}

/* Författare Adréan */
